.main_password_recovery{
    display: flex;
    flex-direction: column;
    background-color: #F7F8FD;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container_password_recovery{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    border: 1px solid #b4b4b4;
    background-color: #F8FAFC;
    margin-top: 40px;
    border-radius: 4px;
    padding: 10px;
    gap: 15px;
}

.header_password_recovery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: #344055;
    text-align: center;
}

.action_password_recovery{
    display: flex;
    width: 100%;
    justify-content: center;
}

.foother_password_recovery{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container_password_recovery{
        width: 90%;
    }
}
