
.container_exerciser{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    border: 1px solid #4F46E5;
    border-radius: 4px;
    padding: 8px;
}

.controls_audio{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.play_pause{
    cursor: pointer;
}
.play_pause:hover{
    color: #2720ac;
}

.containser_answers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.ansewrs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: #344055;
    margin-top: 4px;
    padding-top: 4px;
    gap: 4px;
}

.divider{
    display: flex;
    flex-direction: row;
    height: 1px;
    width: 100%;
    background-color: #4F46E573;
    margin-top: 15px;
    margin-bottom: 15px;
}

.results{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #344055;
    gap: 2px;
}

.header_result{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 6px;
    color: #344055;
}

.datas_result{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2px;
}

.button_answers{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 2px;
}

.container_pronunciation{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.header_pronuciation{
    width: 100%;
    flex-wrap: wrap;
    color: #344055;
    margin-top: 15px;
}

.speak_pronunciation{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}

.button_pronunciation{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .header_home{
        width: 90%;
    }
}